<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <!-- DFM 설정 -->
    <dist:module
        dist:instant="false"
        dist:title="@string/title_eth">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
    <application android:icon="@mipmap/ic_launcher">
        <service
            android:name=".EthService"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":ethProcess">
            <intent-filter>
                <action android:name="com.anam.wallet.BIND_COIN_MODULE" />
            </intent-filter>
        </service>
    </application>
</manifest>